{% extends 'patient/patientbase.html' %}
{% block content %}

<head>
    <style>
        .xyz{
          margin-bottom: 0px;
          background-image: url('{% static "image/homepage.jpg" %}');
          background-size: cover;
          background-repeat: no-repeat;
        }
      </style>
    <meta charset="UTF-8">
    <title>Basic Information</title>
</head>
<body>
</body>

<!--
<!DOCTYPE html>
<html lang="en">
</html>-->
<!--<head>
    <style>
            .xyz{
        color: blue;
        font-size: 3ex;
    }
    </style>
</head>
<br><br>-->
{% endblock content %}
